@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cactus+Classical+Serif&family=Inter:wght@100..900&family=Julius+Sans+One&family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
/* Общие стили */
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

html {
    scroll-behavior: smooth;
}

/* Шапка */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-family: Montserrat;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-toggle {
    display: none;
    cursor: pointer;
}

.nav-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    position: relative;
    margin-right: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    z-index: 1;
    min-width: 200px;
}

.dropdown li {
    margin: 0;
}

.nav-menu li:hover .dropdown {
    display: block;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 20px;
        z-index: 1;
    }

    .nav-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav-menu.active {
        display: flex;
    }

    .dropdown {
        position: static;
        display: none;
        background-color: transparent;
        padding: 0;
    }

    .dropdown.active {
        display: block;
    }
}

/*Основа*/

.hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('../img/dry_flowers.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 22px;
}

main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    text-align: center;
  }
  
/* Стили для разделов */


.flower-list {
    list-style-type: none;
    padding-left: 0;
}
  
.flower-list li::before {
    content: "🌾";
    display: inline-block;
    width: 3em;
    margin-left: 3em;
}
  
.videos .video-container {
    display: ruby;
}
  
.videos iframe {
    width: 560px;
    height: 315px;
    margin: 0 10px;
}
  
.slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
  
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.slide.active {
    opacity: 1;
}
  
.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
}
  
.prev-btn {
    left: 20px;
}
  
.next-btn {
    right: 20px;
}
  
.slide-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}
  
.slide-indicator span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
  
.slide-indicator span.active {
    background-color: #39754b;
}

.certificate {
    text-align: center;
}

.download-btn {
    display: inline-block;
    background-color: #39754b;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
  
.download-btn:hover {
    background-color: #45a049;
}
  
.download-btn:active {
    transform: translateY(1px);
}
  


/* Подвал */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Montserrat;
}

.scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #39754b;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.scroll-to-top-btn:hover {
    background-color: #39754b;
}

.scroll-to-top-btn.show {
    display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .course {
        width: 48%;
    }

    .instructor-slider > div, .review-slider > div {
        flex: 0 0 80%;
    }
}

@media (max-width: 480px) {
    .course {
        width: 100%;
    }

    .instructor-slider > div, .review-slider > div {
        flex: 0 0 100%;
    }
}